<template name="dpostItem">
    <!-- Modal -->
    <div class="modal fade" id="dPostDelModal" tabindex="-1" role="dialog" aria-labelledby="dPostDelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="dPostDelLabel">Confirm</h4>
                </div>
                <div class="modal-body" id="delDPostModalBody">

                </div>
                <div class="modal-footer">
                    <input id="delDPostModalId" type="hidden">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" id="delDPost" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-content">
            <h3>
                {{#if isInRole 'admin'}}
                    <input id="showOnHome" type="checkbox" checked="{{showOnHome}}">
                {{/if}}
                <a href="{{pathFor 'dpostPage'}}">{{title}}</a>
            </h3>
            <p>
                submitted by {{author}} on {{formatTime submitted}}
                <a href="{{pathFor 'dpostPage'}}">{{commentsCount}} comments</a>
                {{#if ownPost}}
                    <a href="{{pathFor 'dpostEdit'}}">Edit</a>
                {{/if}}
            </p>
        </div>
        {{#if ownPost}}
            <a class="discuss btn btn-danger delete" id="dPostDelButton" href="#"><i class="fa fa-trash"></i> Delete</a>
        {{/if}}
    </div>
</template>