<template name="adminsignin">
   <div class="container">
        <h2>Sign in</h2>
        <hr>
        <form action="/signin" class="" id="signInForm" method="post">
            <div class="form-group">
                <input id="signInEmail" type="text" class="form-control" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input id="signInPassword" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input class="btn btn-success" type="submit" value="Sign In">
        </form>
        <!-- end #sign-in-form -->
   </div>

</template>