<template name="signin">
    <form action="/signin" class="navbar-form navbar-right" id="signInForm" method="post">
        <div class="form-group">
            <input id="signInEmail" type="text" class="form-control" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input id="signInPassword" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <input class="btn btn-success" type="submit" value="Sign In">
    </form>
    <!-- end #sign-in-form -->

</template>