<template name="fileItem">

    <div class="post">
        <div class="post-content">
            <input id="fileId" name="fileId" type="hidden" value="{{_id}}">
            <h4>{{#with this.url}}<a href="{{this}}" target="_blank">{{../name}}</a>{{else}}{{this.name}}{{/with}} ({{this.size}} bytes)</h4>
            <p>
               <strong>Uploaded:</strong> {{formatTime uploadedAt}}
            </p>
            <p>
                <strong>Elastic Search Index Status:</strong> {{index_status}}
            </p>
            <br>
            {{#if this.isUploaded}}
                {{#with this.url download=true}}
                    <a href="{{this}}" target="_blank" class="btn btn-default" role="button">Download</a>
                {{/with}}
                <a class="btn btn-info" id="indexFile" href="#">Index</a>
                {{> FS.DeleteButton class="btn btn-danger"}}
            {{else}}
                <p>{{> FS.UploadProgressBar bootstrap=true class='progress-bar-success progress-bar-striped active' showPercent=true}} Uploading...</p>
            {{/if}}
        </div>
    </div>
</template>