<template name="home">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-8" style="">

                <div class="whity">

                      <h2>
                          <a href="#" style="color: #fff">What is GST?</a>
                      </h2>
                  <!-- <div class="embed-responsive embed-responsive-4by3">
                       <iframe class="embed-responsive-item" src="//www.youtube.com/embed/sZnJklN9eXE?list=UUqS4QnRm4Pd3kWhd192ssmQ" frameborder="0" allowfullscreen></iframe>
                  </div>-->
                  <br>
                  <p align="left">

                          {{{GSTBrief}}}

                  </p>



                  <p><a class="btn btn-info btn-lg" href="{{pathFor 'resources'}}" role="button">Learn more »</a></p>
                </div>

              <br>
              <!-- Example row of columns -->
              <div class="whity">
                  <h2>
                      <a href="#" style="color: #fff">In News</a>
                  </h2>
                      {{> homenews}}

              </div>
          </div>
          <div class="col-md-4">
              {{> updates}}
          </div>
      </div>



    </div>

</template>

