<template name="postPage">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/new">What's New</a></li>
        <li class="active">View</li>
    </ol>
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade in" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="loginModalLabel">Login</h4>
                    </div>
                    <div id="loginModalBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" id="delPost" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="whity">
                <h3>
                    {{title}}
                </h3>
                <hr/>
                {{{content}}}
            </div>
        </div>
        <div class="row">

                <h3 class="main">
                    <a>Comments</a>
                </h3>
                <div class="whity">
                <ul class="comments">
                    {{#each comments}}
                        {{> commentItem}}
                    {{/each}}
                </ul>

                {{#if currentUser}}
                    {{> commentSubmit}}
                {{else}}
                    <p>Please <a class="" id="loginLink" href="#"> log in</a> to leave a comment.</p>
                {{/if}}
            </div>
        </div>

    </div>



</template>