<template name="postItem">
    <!-- Modal -->
    <div class="modal fade" id="delPostModal" tabindex="-1" role="dialog" aria-labelledby="delPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delPostModalLabel">Confirm</h4>
                </div>
                <div id="delPostModalBody" class="modal-body">

                </div>
                <div class="modal-footer">
                    <input id="delPostModalId" type="hidden">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" id="delPost" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-content">
            <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
            <p>
                submitted by {{author}} on {{formatTime submitted}}
                <a href="{{pathFor 'postPage'}}"><i class="fa fa-comments"></i> {{commentsCount}}</a>
                {{#if ownPost}}
                    <a href="{{pathFor 'postEdit'}}">Edit</a>
                {{/if}}
            </p>
        </div>
        {{#if isInRole 'admin'}}
            <a class="discuss btn btn-danger" id="postDelButton" href="#"><i class="fa fa-trash"></i> Delete</a>
        {{/if}}
    </div>
</template>