<template name="postItem">
    <div class="post">
        <div class="post-content">
            <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
            <p>
                submitted by {{author}} on {{formatTime submitted}}
                <a href="{{pathFor 'postPage'}}"><i class="fa fa-comments"></i> {{commentsCount}}</a>
                {{#if ownPost}}
                    <a href="{{pathFor 'postEdit'}}">Edit</a>
                {{/if}}
            </p>
        </div>
        {{#if isInRole 'admin'}}
            <a class="discuss btn btn-danger" id="postDelButton" href="#"><i class="fa fa-trash"></i> Delete</a>
        {{/if}}
    </div>
</template>