<template name="postPage">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/new">What's New</a></li>
        <li class="active">View</li>
    </ol>
    <div class="container-fluid">

        <div class="row">
            <div class="whity">
                <h3>
                    {{title}}
                </h3>
                <hr/>
                <div>
                    <b>{{formatDate submitted}}</b>
                </div>
                <br>
                {{{content}}}
            </div>
        </div>
        <div class="row">

                <h3 class="main">
                    <a>Comments</a>
                </h3>
                <div class="whity">
                <ul class="comments">
                    {{#each comments}}
                        {{> commentItem}}
                    {{/each}}
                </ul>

                {{#if currentUser}}
                    {{> commentSubmit}}
                {{else}}
                    <p>Please <a class="" id="loginLink" href="#"> log in</a> to leave a comment.</p>
                {{/if}}
            </div>
        </div>

    </div>



</template>