<template name="npostPage">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/newnposts">News</a></li>
        <li class="active">View</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <h1>
                {{title}}
            </h1>
            <hr/>
        </div>
        <div id="content" class="row">
            {{{content}}}
            <h3>
                Comments
            </h3>
            <hr/>
            <ul class="comments">
                {{#each ncomments}}
                    {{> ncommentItem}}
                {{/each}}
            </ul>

            {{#if currentUser}}
                {{> ncommentSubmit}}
            {{else}}
                <p>Please log in to leave a comment.</p>
            {{/if}}
        </div>
    </div>



</template>