<template name="npostsList">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">News</li>
    </ol>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="searchNewsPost" id="searchNewsPost">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <br>
    <div class="posts">
        <!-- Modal -->
        <div class="modal fade" id="delNPostModal" tabindex="-1" role="dialog" aria-labelledby="delNPostModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delNPostModalLabel">Confirm</h4>
                    </div>

                    <div id="delNPostModalBody" class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <input id="delNPostModalId" type="hidden">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" id="delNPost" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        {{#each nposts}}
            {{> npostItem}}
        {{/each}}
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>