<template name="npostPage">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/newnposts">News</a></li>
        <li class="active">View</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="whity">
                <h3>
                    {{title}}
                </h3>
                <hr/>
                {{{content}}}
            </div>
        </div>
        <div class="row">

            <h3 class="main">
                <a>Comments</a>
            </h3>
            <div class="whity">
                <ul class="comments">
                    {{#each ncomments}}
                        {{> ncommentItem}}
                    {{/each}}
                </ul>

                {{#if currentUser}}
                    {{> ncommentSubmit}}
                {{else}}
                    <p>Please log in to leave a comment.</p>
                {{/if}}
            </div>
        </div>

    </div>



</template>