<template name="homenews">

  <div class="row">
    {{#each HomeNewsPosts}}
        <div class="col-md-4">
            <div class="whity">
                <h3><a href="{{pathFor 'npostPage'}}">{{title}}</a></h3>
                <p><a class="btn btn-default" href="{{pathFor 'npostPage'}}" role="button">View details »</a></p>
            </div>
        </div>
    {{/each}}
  </div>

</template>

<!-- <template name="homenews">
    {{#each HomeNewsPosts}}
        <div class="row">
            <h3><a href="{{pathFor 'npostPage'}}">{{title}}</a></h3>
            <p>{{{briefContent}}}</p>
            <p><a class="btn btn-default" href="{{pathFor 'npostPage'}}" role="button">View details »</a></p>
        </div>
        <hr>
    {{/each}}
</template>-->
