<template name="homeeopinions">

    <div class="row">
        {{#each HomeEditorOpinionPosts}}
          {{#if firstRow}}
            <div class="col-md-4">
                <div class="whity">
                    {{formatDate submitted}}
                    <h3><a href="{{pathFor 'dpostPage'}}">{{title}}</a></h3>
                    <p><a class="btn btn-default" href="{{pathFor 'dpostPage'}}" role="button">View details »</a></p>
                </div>
            </div>
          {{/if}}
        {{/each}}
    </div>

    <div class="row">
        {{#each HomeEditorOpinionPosts}}
            {{#if secondRow}}
                <div class="col-md-4">
                    <div class="whity">
                        {{formatDate submitted}}
                        <h3><a href="{{pathFor 'dpostPage'}}">{{title}}</a></h3>
                        <p><a class="btn btn-default" href="{{pathFor 'dpostPage'}}" role="button">View details »</a></p>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>



</template>
