<template name="homeeopinions">

    <div class="row">
        {{#each HomeEditorOpinionPosts}}
          {{#if firstRow}}
            <div class="col-md-4">
                <div class="whity">
                    <h4><a href="{{pathFor 'dpostPage'}}">{{title}}</a></h4>
                    <p>by <b>{{author}}</b> on {{formatDate submitted}}</p>
                    <!-- <p><a class="btn btn-default" href="{{pathFor 'dpostPage'}}" role="button">View details »</a></p> -->
                </div>
            </div>
          {{/if}}
        {{/each}}
    </div>

    <div class="row">
        {{#each HomeEditorOpinionPosts}}
            {{#if secondRow}}
                <div class="col-md-4">
                    <div class="whity">
                        <h4><a href="{{pathFor 'dpostPage'}}">{{title}}</a></h4>
                        <p>by <b>{{author}}</b> on {{formatDate submitted}}</p>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>



</template>
