<template name="rightsidebar">
    <nav class="right-menu">
        <div class="nav-side-menu">
            <form id="search" class="navbar-form" role="search" style="margin: 5px">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" id="search" name="search">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                    </div>
                </div>
            </form>
            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse in">
                    <li class="{{activeRouteClass 'home'}} clickable">
                        <a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="{{activeRouteClass 'newNPosts' 'npostPage' 'npostEdit'}} clickable">
                        <a href="{{pathFor 'newNPosts'}}"><i class="fa fa-newspaper-o"></i> In News</a>
                    </li>
                    <li class="{{activeRouteClass 'newDPosts' 'dpostPage' 'dpostEdit' 'newDiscussion'}} clickable">
                        <a href="{{pathFor 'newDPosts'}}"><i class="fa fa-coffee"></i> Discuss</a>
                    </li>
                    <li class="{{activeRouteClass 'newPosts' 'postPage' 'postEdit'}} clickable">
                        <a href="{{pathFor 'newPosts'}}"><i class="fa fa-flash"></i> What's New</a>
                    </li>
                    <li class="{{activeRouteClass 'resources'}} clickable">
                        <a href="{{pathFor 'resources'}}"><i class="fa fa-book"></i> Resources</a>
                    </li>
                    <li class="{{activeRouteClass 'contact'}} clickable">
                        <a href="{{pathFor 'contact'}}"><i class="fa fa-male"></i> Contact</a>
                    </li>
                    {{#if currentUser}}
                        <li class="{{activeRouteClass 'notifications'}} clickable"><a href="{{pathFor 'notifications'}}"><i class="fa fa-bell"></i> Notifications <span class="badge badge-inverse">{{notificationCount}}</span></a></li>
                        <li class="{{activeRouteClass 'userProfile'}} clickable"><a href="{{pathFor 'userProfile'}}"><i class="fa fa-user"></i> My Profile</a></li>
                        <li class="clickable"><a id="logout" href=""><i class="fa fa-sign-out"></i> Log Out</a></li>
                        <!-- <li data-toggle="collapse" data-target="#user" class="collapsable collapsed">
                                    <a href=""><i class="fa fa-user"></i> {{currentUser.profile.name}}<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="user">
                                    <li class="{{activeRouteClass 'userProfile'}} clickable"><a href="{{pathFor 'userProfile'}}"><i class="fa fa-user"></i> My Profile</a></li>
                                    <li class="clickable"><a id="logout" href=""><i class="fa fa-sign-out"></i> Log Out</a></li>
                                </ul> -->
                    {{else}}
                        <li><a id="loginLink" href="#"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>
